fastapi
uvicorn[standard]
python-multipart
sqlalchemy
pypdf2
python-docx
groq
pydantic
pydantic-settings
python-jose
passlib
bcrypt
python-dotenv
httpx
beautifulsoup4
scikit-learn
numpy
pandas
email-validator
curl_cffi==0.5.10
httpx==0.25.2